* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: roboto, sans-serif;
}

body {
  padding: 0.5rem;
}

.game_detail {
  display: flex;
  justify-content: space-between;
  color: brown;
  font-size: 1.3rem;
  font-weight: 500;
  width: 1073px;
  margin: auto;
  padding: 1.5rem 0;
}

.card_destination {
  width: 1073px;
  margin: auto;
  display: flex;
  align-items: center;
}

.played_cards {
  width: 60px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  background-color: #afacac5f;
  margin-right: .5rem;
}

.delt-card-container,
.hidden-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: 100%;
  color: rgb(5, 82, 52);
  padding: 1rem;
}

#delt-card-div,
#hidden-card-div {
  transform: rotate(180deg);
  position: relative;
  top: 9rem;
}

.hidden-card-container {
  color: crimson;
}

.cards {
  display: inline-flex;
  width: 150px;
  height: 180px;
  border-radius: 10px;
  border: 2px solid #afacac;
  padding: 1rem;
  position: relative;
  margin-bottom: -9rem;
  margin-left: .2rem;
  background-color: coral;
  z-index: 3;
  transform: rotate(180deg);
  cursor: pointer;
}

.card_category {
  margin-bottom: 2rem;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
}
