* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: roboto, sans-serif;
}

body {
  padding: 1rem;
}

.background {
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/assests/images (1).jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  z-index: -10;
}

.delt_card_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(5, 82, 52);
  padding: 1rem 0;
}

#delt_card_div {
  transform: rotate(180deg);
  position: relative;
  top: 9rem;
}

.cards {
  display: inline-flex;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #afacac;
  padding: 1rem;
  position: relative;
  margin-bottom: -9rem;
  margin-left: .2rem;
  background-color: coral;
  z-index: 3;
  transform: rotate(180deg);
  cursor: pointer;
}

.game_detail {
  display: flex;
  justify-content: space-between;
  color: #afacac;
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  margin: auto;
  padding: 1.5rem 0;
}

.card_destination {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.played_card_destinaton{
  display: flex;
  align-items: center;
}

.played_cards {
  width: 60px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 900;
  background-color: #afacac39;
  margin-right: .5rem;
  color: #afacac;
}

.delt_card_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(5, 82, 52);
  padding: 1rem 0;
}

#delt_card_div {
  transform: rotate(180deg);
  position: relative;
  top: 9rem;
}

.cards {
  display: inline-flex;
  width: 100px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid #afacac;
  padding: 1rem;
  position: relative;
  margin-bottom: -9rem;
  margin-left: .2rem;
  background-color: coral;
  z-index: 3;
  transform: rotate(180deg);
  cursor: pointer;
}





